<div class="card post-card">
  <div class="card-body">
    <h2 class="card-title sentence-case">
      {{#link-to "post" post.id class="card-link"}}
        {{post.title}}
      {{/link-to}}
    </h2>
    <p class="card-text sentence-case">
      {{post.body}}
    </p>
  </div>
</div>